.add-record-section{
    padding: 40px 0 80px 0;
    & .add-victim-btn, & .add-agressor-btn{
        margin-bottom: 15px;
        min-width: 230px;
    }
    & .form-label{
        color: $grayLighterColor;
    }
    & .add-new-record-btn{
        margin-left: 15px;
        &.hide-btn{
            display: none;
        }
    }
}
@include media-breakpoint-down(xs) {
    .add-record-section{
        & .add-new-record-btn{
            margin: 15px 0 0 0;
        }
    }
}