.add-person-section{
    padding: 40px 0 80px 0;
    & .add-relative-btn{
        margin-top: 25px;
    }
    & .add-new-newperson-btn{
        display: block;
        width: 180px;
        margin-left: auto;
    }
    & .form-label{
        color: $grayLighterColor;
    }
    & .delete-rel{
        background-color: rgb(136, 2, 2);
    }
    .maby-rel-pers{
        font-weight: 600;
        cursor: pointer;
        transition: all 250ms linear;
        &:hover{
            opacity: 0.6;
        }
    }
}
@include media-breakpoint-down(xs) {
    .add-person-section{
        & .btn{
            display: block;
            width: 100%;
        }
    }
}