.password-renew{
    &-form{
        &.password-renew-step-one{
            max-width: 500px;
            & .password-renew-btn.prevpage{
                margin-right: 15px;
                background-color: transparent;
                color: $mainAccentColor;
                border: 2px solid $mainAccentColor;
                padding: 8px 12px;
                line-height: 1.2;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        &.password-renew-step-two{
            display: none;
            & .password-renew-btn.prevstep1{
                margin-right: 15px;
                background-color: transparent;
                color: $mainAccentColor;
                border: 2px solid $mainAccentColor;
                padding: 8px 12px;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        &.password-renew-step-three{
            display: none;
            max-width: 500px;
            & .password-renew-btn.prevstep2{
                margin-right: 15px;
                background-color: transparent;
                color: $mainAccentColor;
                border: 2px solid $mainAccentColor;
                padding: 8px 12px;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        color: #fff;
        background: $mainGradientDarker;
        padding: 40px 50px;
        border-radius: 10px;
    }
    &-wrap{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        transition: all 250ms linear 250ms;
    }
    &-header{
        margin-bottom: 20px;
    }
    &-body{
        &>p{
            text-align: center;
            margin-bottom: 15px;
        }
    }
    &-title{
        font-size: 22px;
        text-transform: none;
        text-align: center;
        color: #fff;
    }
    &-row-action{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 25px;
    }
    
    &-btn{
        display: block;
        min-width: 140px;
        font-weight: 600;
    }
}


@include media-breakpoint-down(sm) {
    .password-renew{
        &-form{
            padding: 20px 30px;
            min-width: 320px;
            &.password-renew-step-one{
                & .password-renew-btn.prevpage{
                    margin: 15px 0 0 0;    
                }
            }
            &.password-renew-step-two{
                & .password-renew-btn.prevstep1{
                    margin: 15px 0 0 0;                  
                }
            }
            &.password-renew-step-three{
                & .password-renew-btn.prevstep2{
                    margin: 15px 0 0 0;              
                }
            }
        }
        &-row-action{
            flex-direction: column-reverse;                
        }
        
        &-btn{
            width: 100%;
        }
    }
    
}