.person-card-modal{
    & .modal-add-files-btn{
        margin-left: auto;
    }
    & .person-relationship-level{
        margin-top: 110px;
    }
    & .modal-button{
        display: block;
        width: 180px;
        margin: 0 0 0 auto;
    }
    & .case-row{
        overflow-x: auto;
    }
}
@include media-breakpoint-down(md) {
    .person-card-modal{
        & .person-relationship-level{
            margin-top: 0;
        }
    }
}
@include media-breakpoint-down(sm) {
    .person-card-modal{
        & .modal-button{
            width: 100%;
            margin: 0;
        }
    }
}
