.risk-modal{
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-16px);
    transition: all 400ms linear;
    &.show-modal{
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    & .modal{
        // max-width: 1000px;
        & .top-line-form-group{
            & label{
                min-height: 30px;
            }
        }
    }
    & .modal-button{
        display: block;
        width: 200px;
        margin: 0 0 0 auto;
        &:first-child{
            margin-bottom: 15px;
        }
    }
}
@include media-breakpoint-down(md) {
    .risk-management-modal{
        & .modal{
            & .top-line-form-group{
                & label{
                    min-height: auto;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .risk-management-modal{
        & .modal-button{
            width: 100%;
            margin: 0;
        }
    }
}
