@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
@import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites
@import 'libs/normalize';

$userfont: "Roboto", sans-serif;// User Font Family
$mainGradient: linear-gradient(89.85deg, #01306F 0.13%, #0362B6 50.32%, #01306F 100.98%);
$mainGradientDarker: linear-gradient(89.85deg, #012250 0.13%, #003063 50.55%, #012250 100.98%);
$mainAccentColor: #ffd500;
$formBtnBgColor: #002b6a;
$grayColor: #333333;
$grayLighterColor: #555555;
$grayLighterColor2: #636363;
$cardColor: #9d9d9d;
$formsBgColor: #f8f8f8;

html{
	outline: 0;
}

body{
	font-family: $userfont;
	background: $mainGradient;
	min-height: 100vh;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
section{
	padding: 20px 0;
}

h1, h2, h3{
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 22px;
}
.mx-auto{
	margin: 0 auto;
}
input[type="text"], input[type="date"], textarea, select{
	border-radius: 3px;
	border: 1px solid $formBtnBgColor;
	transition: border-color 250ms linear;
	outline: none;
	&:hover, &:focus, &:active, &:focus-visible{
		border: 1px solid $mainAccentColor;
	}
}
label:not(.form-label){
	margin-right: 25px;
	transition: all 250ms linear;
	cursor: pointer;
	&>input[type="radio"]{
		transition: all 250ms linear;
		cursor: pointer;
	}
	&:hover{
		opacity: 0.6;
	}
}